<%- include('../../partials/main_header.ejs') %>

    <div class="container">
        <img src="/images/song_library.png" width="450px" alt="Song Library" class="img-fluid mx-auto d-block my-5">
        <a href="/posts/new" class="btn btn-primary">Upload New Song</a>


        <% posts.forEach(post => { %>
            <div class="card mt-4">
                <div class="card-body bg-warning-subtle">
                    <h4 class="card-title m-2"><%= post.title %> by <%= post.user.username %></h4>
                    <h6 class="card-text m-3"><%= post.description %></h6>
                    <audio controls>
                        <source src="/songs/<%= post.songFile %>" type="audio/mpeg">
                    </audio>
                    <a href="/posts/<%= post.id %>" class="btn btn-secondary my-2 w-100">View Song</a>
                </div>
            </div>
        <% }) %>

    </div>

<script>

var playSong;

const startSongButton = e => {
    let button = e.target;
    let url = button.dataset.songurl;
    if (playSong){
        playSong.pause()
    };
    playSnippet(url);
};

const playSnippet = async songURL => {
    try{
        playSong = new Audio(songURL);
        playSong.play();
    } catch(err){
        console.log(err)
    }
};

const stopSnippet = () => {
    playSong.pause();
};

const buttons = document.getElementsByTagName('button');

for (let button of buttons){
    button.addEventListener('click', startSongButton);
};

const stopButton = document.getElementById('songStopper');
stopButton.addEventListener('click', stopSnippet);

</script>

<%- include('../../partials/footer.ejs') %>