<%- include('../../partials/main_header.ejs') %>

<div class="container">
    <!-- <img src="/images/missionstatement.png" width="800px" alt="Mission Statement" class="img-fluid mx-auto d-block m-5"> -->
    <h1 class="my-4 text-center">Your Song</h1>
    <a href="/posts" class="btn btn-success">View All Posts</a>

    <div class="card mt-4">
        <div class="card-body">
            <h4 class="card-title"><%= locals.post.title %></h4>
            <div class="card-text mb-2"><%= locals.post.description %></div>
            <!-- <audio id="audio1">
                <source src="../../../public/songs/i_miss_you.mp3" type="audio/mpeg">
            </audio> -->
            <form action="posts/<%= post.id %>?_method=DELETE" method="post">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>