<%- include('../../partials/main_header.ejs') %>

<div class="container">
    <img src="/images/viewsong.png" width="400px" alt="View Song" class="img-fluid mx-auto d-block my-5">
    <a href="/posts" class="btn btn-success">View All Songs</a>

    <div class="card mt-4">
        <div class="card-body bg-warning-subtle">
            <h4 class="card-title"><%= locals.post.title %> by <%= locals.post.user.username %></h4>
            <div class="card-text mb-2"><%= locals.post.description %></div>
            <!-- <audio id="audio1">
                <source src="../../../public/songs/i_miss_you.mp3" type="audio/mpeg">
            </audio> -->
            <div class="d-flex">
                <button class="btn btn-primary" data-songURL="https://p.scdn.co/mp3-preview/2a75235e1503256176f3552aeaa51de84eb23030?cid=cfc9b12363734e67b80643c87896ddfd">Play Song</button>
                <button class="btn btn-danger mx-2">Stop</button>
                <a class="btn btn-warning" href="/posts/edit/<%= locals.post.id %>">Edit Post</a>
                <form action="?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-dark mx-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

var playSong;

const startSongButton = e => {
    let button = e.target;
    let url = button.dataset.songurl;
    if (playSong){
        playSong.pause()
    };
    playSnippet(url);
};

const playSnippet = async songURL => {
    try{
        playSong = new Audio(songURL);
        playSong.play();
    } catch(err){
        console.log(err)
    }
};

const stopSnippet = () => {
    playSong.pause();
};

const buttons = document.getElementsByTagName('button');

for (let button of buttons){
    button.addEventListener('click', startSongButton);
};

const stopButton = document.getElementById('songStopper');
stopButton.addEventListener('click', stopSnippet);

</script>

<%- include('../../partials/footer.ejs') %>