<%- include('../../partials/main_header.ejs') %>

<div class="container">
    <img src="/images/viewsong.png" width="400px" alt="View Song" class="img-fluid mx-auto d-block my-5">
    <a href="/posts" class="btn btn-success">View All Songs</a>

    <div class="card mt-4">
        <div class="card-body bg-warning-subtle">
            <h4 class="card-title m-2"><%= locals.post.title %> by <%= locals.post.user.username %></h4>
            <h6 class="card-text m-3"><%= locals.post.description %></h6>
            <audio controls>
                <source src="/songs/<%= locals.post.songFile %>" type="audio/mpeg">
            </audio>
            <div class="d-flex">
                <a class="btn btn-warning m-3" href="/posts/edit/<%= locals.post.id %>">Edit Post</a>
                <form action="?_method=DELETE" method="post">
                    <button type="submit" class="btn btn-dark m-3">Delete</button>
                </form>
                <a class="btn btn-info m-3" href="/posts/revisions/<%= locals.post.id %>">Add Revision</a>
            </div>
        </div>
    </div>
    
    <% revisions.forEach(revision => { %>
        <div class="card mt-4">
            <div class="card-body bg-info-subtle">
                <h6 class="card-text m-3 fst-italic"><%= revision.description %></h6>
                <h6 class="card-text m-3 fst-italic">Contributor: <%= revision.user.username %></h6>
                <audio controls>
                    <source src="/songs/<%= revision.songFile %>" type="audio/mpeg">
                </audio>
            </div>
        </div>
    <% }) %>



</div>


<%- include('../../partials/footer.ejs') %>